<div class="item-page">
    <div class="flex-block">
        <div class="img-block">
            <img src="data:image/png;base64,<%=locals.item.img %>">
            <div class="btn">
                <span id="<%=locals.item.id %>">
                    <svg>
                        <use xlink:href="/main.svg#love-svg"></use>
                    </svg>
                </span>
                
                <div class="in-cart" id="<%=locals.item.id %>"> В корзину</div>
                <div class="price"><%=locals.item.price %></div>
            </div>
        </div>
        <div class="text-block">
            <h3><%=locals.item.title %></h3>
            <pre><%=locals.item.descr %></pre>
        </div>
    </div>
    <h2>Recommendation:</h2>
    <div class="recommendation">
        <span class="arrow back" onclick="scrollRec(this)">
            <svg>
                <use xlink:href="/main.svg#arrow-svg"></use>
            </svg>
        </span>
        <div class="items">
            <a href="/item" class="href-item">
                <img src="/images/items/1.jpg" alt="">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur neque amet laborum aspernatur officia officiis minus atque dolorem molestiae quibusdam ipsum, dolorum porro ratione beatae sed! Labore quidem dolores voluptas!</span>
            </a>       
        </div>
        <span class="arrow next" onclick="scrollRec(this)">
            <svg>
                <use xlink:href="/main.svg#arrow-svg"></use>
            </svg>
        </span>
    </div>
</div>