<div class="item-page">
    <div class="flex-block">
        <div class="img-block">
            <img src="data:image/png;base64,<%=locals.item.img %>">
            <div class="btn">
                <span id="<%=locals.item.id %>">
                    <svg>
                        <use xlink:href="/main.svg#love-svg"></use>
                    </svg>
                </span>
                <div class="price"><%=locals.item.price %> ₽</div>
                <div class="in-cart" id="<%=locals.item.id %>"> В корзину</div>
            </div>
        </div>
        <div class="text-block">
            <h3><%=locals.item.title %></h3>
            <pre><%=locals.item.descr %></pre>
        </div>
    </div>
    <h2>Recommendation:</h2>
    <div class="recommendation">
        <span class="arrow back" onclick="scrollRec(this)">
            <svg>
                <use xlink:href="/main.svg#arrow-svg"></use>
            </svg>
        </span>
        <div class="items">
            <% for (let i = 0; i < locals.rec.length; i++) {%>
            <a href="/item?id=<%=locals.rec[i].id %>&type=<%=locals.rec[i].type %>" class="href-item">
                <img src="data:image/png;base64,<%=locals.rec[i].img %>">
                <span><%=locals.rec[i].title %></span>
            </a>  
            <%}%>     
        </div>
        <span class="arrow next" onclick="scrollRec(this)">
            <svg>
                <use xlink:href="/main.svg#arrow-svg"></use>
            </svg>
        </span>
    </div>
</div>